/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 16px;
}



/* Navigation */

.navbar {
    display: flex;
    font-family: 'Nothing You Could Do';
    font-size: 1.5rem;
    padding: 15px 15px;
    background-color: #222831;
    color: #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    



}

ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style-type: none;
    text-decoration: 1px underline;
    gap: 2em;
}

.icons {
    display: flex;

    gap: 10px;
}

.icon-container img {
    height: 20px;
    width: 20px;
}




/* Company Section */

  #company {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/resources/IMG/conor-luddy-IVaKksEZmZA-unsplash.jpg);
    min-height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.mission-statement {
    font-family: 'Nothing You Could Do';
    font-size: 2rem;
    color: #EEEEEE;
}





/* Product Section */

#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 1000px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,88,92,1) 54%, rgba(37,143,164,1) 82%);
    border-top: 1px solid #EEEEEE;
    padding-top: 50px;
    padding-bottom: 100px;

}

#product h2 {

    font-family: 'Nothing You Could Do';
    font-size: 3rem;
    color: #EEEEEE;
}

#product p {
    text-align: center;
    color: #EEEEEE;
    font-family: 'Nothing You Could Do';

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 70px;
    flex-wrap: wrap;
    min-height: 400px;
    
    
}

.picture-text {
    display: flex;
    text-align: center;
    font-family: 'Nothing You Could Do';
    font-size: 1.5rem;
    color: #EEEEEE;
}



.img-container {

    width: 300px;
    height: 300px;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    transition: transform 2s;


}

.img-container img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.img-container img:hover {
    transform: scale(1.5);
    border: 1px solid #EEEEEE
}


/* Team Section */

#team {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    background-color: #31363F;
    border-top: 1px solid #EEEEEE;


}

.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

.text {

    width: 30%;

    font-family: 'Nothing You Could Do';
    font-size: 2rem;
    color: #EEEEEE;
}

.text strong {
    text-decoration: underline;
}


.photo {
    width: 600px;
    height: 500px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    
}

.photo img{
border-radius: 10px;
width: 100%;
height: 100%;

}


/* Footer */

footer {
    height: 100px;
    
}

.contact-information h3 {
    font-family: 'Nothing You Could Do';
}



.contact-information {
    display: flex;
    background-color: #222831;
    height: 100%;
    color: #EEEEEE;
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    border-top:1px solid #EEEEEE;
}

.text-footer {
    display: flex;
    justify-content: space-evenly;
}




